@page
@model LettingsManager.WebSite.Landlords.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add New Landlord</h4>
<hr />

<form method="post">
    <div class="row">
        <div class="col">
            <div class="card mb-2">
                <div class="card-header">
                    <h5>New Landlord</h5>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Landlord.Name" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Landlord.Name" class="form-control" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><span class="fa fa-user-tie"></span></span>
                            </div>

                        </div>
                        <span asp-validation-for="Landlord.Name" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Landlord.Address1" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Landlord.Address1" class="form-control" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><span class="fa fa-road"></span></span>
                            </div>
                            
                        </div>
                        <span asp-validation-for="Landlord.Address1" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @*<label asp-for="Landlord.Address2" class="control-label"></label>*@
                            <div class="input-group">
                                <input asp-for="Landlord.Address2" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-road"></span></span>
                                </div>
                                
                            </div>
                            <span asp-validation-for="Landlord.Address2" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            @*<label asp-for="Landlord.Address3" class="control-label"></label>*@
                            <div class="input-group">
                                <input asp-for="Landlord.Address2" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-road"></span></span>
                                </div>
                                
                            </div>
                            <span asp-validation-for="Landlord.Address2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @*<label asp-for="Landlord.Address4" class="control-label"></label>*@
                            <div class="input-group">
                                <input asp-for="Landlord.Address4" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-road"></span></span>
                                </div>
                                
                            </div>
                            <span asp-validation-for="Landlord.Address4" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <input asp-for="Landlord.Address5" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-road"></span></span>
                                </div>
                                
                            </div>
                            <span asp-validation-for="Landlord.Address5" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Landlord.Mobile" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="Landlord.Mobile" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-mobile-alt"></span></span>
                                </div>
                                
                            </div>
                            <span asp-validation-for="Landlord.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Landlord.Email" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="Landlord.Email" class="form-control" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-envelope"></span></span>
                                </div>
                            </div>
                            <span asp-validation-for="Landlord.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="col pull-right">
                            <a asp-page="./Index" class="btn btn-primary float-right">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
  
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
